<title>
  신이 깜박해쩌
</title>

<br>
<h1 style="text-align: center"> 신이 당신에게 주지 않은 것 </h1>

  <P align="center">
    <img src="http://lh3.googleusercontent.com/Oa3MfHlbOzgefdQ1-isneMXNJxjdxF7OhXuG_B4q_c7dnmJn6AzhYHIXODJj2ELAZO3LNzKYTly9Yf4VE3JuMr82-Psc1IVcCoE=s640-l65"
    style="width: 50%" >
  </p>
  
<form action="/home/result" style="text-align: center">
  <style> 
input[type=text] {
    width: 40% ;
    padding: 16px;
    border: 2px solid skyblue;
    border-radius: 4px;
    background-color: #F3FCFC;
    font-size: 20px;
}
input[type=submit]{
    width: 30%;
    border: none;
    background-color: #3486F8;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}

</style>
  <p style="color: #306B8F; font-size: 25px; font-weight: bold">사람들 다있는데 나만 ___?___ 없어　ಠ╭╮ಠ</p>
    <input type="text" name="username"style="text-align: center" placeholder="이름을 입력해주세요">
  <br>
  <br>
  <input type="submit" value="확인하기  ₍₍ (ง ˙ω˙)ว ⁾⁾">  
  </form>
<br>
<br>
<br>
<br>
<br>