<br>
<h2 style="text-align: center"> 신이 <%= @name %>에게 주지 않은 것은.. </h2>
<h1 style="text-align: center">♥♡ <%= @result[0] %> ♡♥</h1>
 <P align="center">
    <img src="http://postfiles4.naver.net/MjAxNzA2MjlfMjM2/MDAxNDk4NjY0ODg5NzA1.VcvoWAZ3CYfEt-ZaO8ULUwaliFs95vuE4biGq9AcHTYg.ZCUi6r6VeGAeE6HlN8UzLssj2syaWhapy7K0Eu7zRKkg.JPEG.annamon20/sinsin.jpg?type=w2"
    style="width: 60%" >
  </p>

<p align="center" style="font-size: 20px"><b><font color="#227DFC">신</font></b> : 깜박했어~~~ 다음생에 줄게~~~~~ㅎ</p>